* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    font-weight: 700;
    color: #FFF;
    border: none;
}

/* header section,,,,,,,,,,,,,,,,,, */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px 50px;
    background: rgba(229, 84, 115, 0.10);
}

.header-title {
    font-weight: 800;
    font-size: 80px;
    color: #272727;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.header-image img {
    width: 635px;
}

/* feature section,,,,,,,,,,,,,,,,,,,, */
.feature-container {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 170px;
    margin-bottom: 130px;

}

.feature-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.feature-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 25px;
    margin-bottom: 50px;
}

.photo-column1 {
    background: rgba(167, 33, 98, 0.15);
}

.photo-column2 {
    background: rgba(5, 151, 160, 0.15);
    1x
}

.photo-column3 {
    background: rgba(71, 125, 17, 0.15);
}

.photo-column1,
.photo-column2,
.photo-column3 {
    border-radius: 300px 300px 0px 0px;
    height: 550px;
    width: 450px;


}

.feature-photos {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    align-items: center;
}

.feature-photos img {
    margin: 50px;

}

.img-caption {
    margin-top: 30px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}

/* delivery */
.delivery-description {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin-top: 25px;
}

.delivery {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 85px 150px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0 250px;
}

.delivery-column {
    text-align: center;

}

/* discount,,,,,,,,,,,,,,,, */
.discount-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.off {
    color: #E55473;
}

.discount-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 30px;
}

.discount-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    padding: 100px 400px;
}

.discount-left {
    text-align: center;
    display: block;

}

.discount-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin: 130px 0;
}

/* instagram,,,,,,,,,,,,,,,,,, */
.instagram-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.instagram {
    display: block;
    text-align: center;
}

.instagram-images {
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 100%;
}

.insta-sec {
    padding: 0 250px;
}

.subscribe-btn input {
    padding: 20px;
    width: 30%;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

.subscribe-section {
    background-image: url('./resources/Rectangle9.png');
    margin: 130px 250px;
    padding-top: 120px;
    padding-bottom: 120px;
    border-radius: 8px;
}

.subscribe-btn {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.subscribe-text {
    text-align: center;
}

/* footer,,,,,,,,,, */
.footer {
    text-align: center;
    background: #111010;
    padding-top: 130px;
    padding-bottom: 130px;
}

.footer-title {
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
}

.footer-title span {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.copyright {
    color: rgba(255, 255, 255, 0.40);
}

/* bonus section,,,,,,,,,,,,,,,, */
.location {
    margin: 0 250px;
    margin-bottom: 130px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: block;
    padding: 30px;
}

.our-location {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.branch {
    text-align: center;
    padding: 40px;
    margin: 30px 50px 50px 50px;
    border: 1px dotted rgb(163, 153, 153);
    border-radius: 20px;
    background-color: rgb(250, 250, 250);
}

.b-title {
    font-size: 25px;
    font-weight: 700;
    color: #272727;
    margin-bottom: 25px;
}

.branch-address {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.location-h {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
}